@model IEnumerable<Minesweeper.Models.ButtonModel>

@{
    ViewData["Title"] = "Minesweeper Game";
}

<style>
    .game-button {
        width: 85px;
        border: none;
    }

    .game-button-image {
        width: 70px;
    }

    .button-zone {
        display: flex;
        flex-wrap: wrap;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .button-label {
        font-size: 8px;
        text-align: center;
    }
</style>

@{
    // store image names in an array for more efficient code.
    string[] imageNames = { "blue-button.png", "green-button.png", "red-button.png","purple-button.png" };
}

    @if(ViewBag.SuccessMessage != null && !string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">@ViewBag.SuccessMessage</div>
    }
<form>
    <div class="button-zone">
        @for (int i = 0; i < Model.Count(); i++)
        {
            // start a new line every five elements.
            if (i % 9 == 0)
            {
                <div class="line-break"></div>
            }

            <button class="game-button" type="submit" value="@Model.ElementAt(i).Id" name="buttonNumber" asp-controller="Home" asp-action="HandleButtonClick">
                <img class="game-button-image" src="~/img/@imageNames[Model.ElementAt(i).ButtonState]" />
                <div class="button-label">                    
                    [@Model.ElementAt(i).LiveNeighbors]
                </div>
            </button>
        }
    </div>
</form>

