@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Minesweeper Game</h1>
    <p>This application will allow users to play the Minesweeper Game 24/7</p>
</div>
