@model Minesweeper.Models.UserModel

<div>
    <h4>Authentication Unsuccessful</h4>
    <hr/>
    <p>The username and/or password you entered is incorrect.</p>
</div>

<div>    
    <a asp-action="Index">Back</a>
</div>

